<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baja Inscripto</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-center align-items-center vh-100">
            <div class="card">
                <div class="card-header text-center">
                    <h1>Formulario de Baja</h1>
                </div>
                <div class="card-body">
                    <form action="/delete" method="post">
                        <div class="form-group">
                            <label for="inscripto_id">ID del Inscripto:</label>
                            <input type="number" class="form-control" id="inscripto_id" name="inscripto_id" required>
                        </div>
                        <button type="submit" class="btn btn-danger btn-block">Eliminar</button>
                    </form>
                    <div class="text-center mt-3">
                        <a href="/login" class="btn btn-secondary">Volver a la lista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>