<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar Datos de MySQL</title>
</head>
<body>
    <h1>Datos de los INSCRIPTOS</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Mail</th>
            </tr>
        </thead>
        <tbody>
            {% for row in results %}
            <tr>
                <td>{{ row[0] }}</td>  {# Suponiendo que la columna 1 es ID #}
                <td>{{ row[1] }}</td>  {# Suponiendo que la columna 1 es Nombre #}
                <td>{{ row[2] }}</td>  {# Suponiendo que la columna 2 es Mail #}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>