<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar Datos de MySQL</title>
</head>
<body>
    <div style="max-width: 300px; margin: 50px auto; padding: 20px; background-color: #f9f9f9; border: 1px solid #ccc; border-radius: 5px;">
    <h1>Listado de Inscriptos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Mail</th>
            </tr>
        </thead>
        <tbody>
            {% for row in results %}
            <tr>
                <td>{{ row[0] }}</td>  {# Suponiendo que la columna 1 es ID #}
                <td>{{ row[1] }}</td>  {# Suponiendo que la columna 1 es Nombre #}
                <td>{{ row[2] }}</td>  {# Suponiendo que la columna 2 es Mail #}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br> <br>
    <p>
        <center>
        <form action="/insert" method="get"> <button type="submit">Insertar</button> </form> 
        <br>
        <form action="/delete" method="get"> <button type="submit">Eliminar</button> </form>
        <br>
        <form action="/modificar" method="get"> <button type="submit">Modificar</button> </form>
        </center>
    </p>
</div>
</body>
</html>